:root {
     --body_bgc: rgb(15 15 15);
     --stats_bgcg: linear-gradient(150deg, rgb(24 23 52) 0%, rgb(27 20 20) 58%);
     --stats_bgc: rgb(2,0,36);
}

body {
     background-color: var(--body_bgc);
}

.stats-chart {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     font-family: Helvetica, Arial, system-ui, sans-serif ;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     max-width: 100%;
     width: 90%;
     height: 100%;
     border-radius: 15px;
     background: var(--stats_bgc);
     background: var(--stats_bgcg);
     color: white;
     padding: 20px;
     box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px 2px;
}


.stats {
     margin-left: 5px;
     margin-right: 5px;
     font-family: Helvetica, Arial, system-ui, sans-serif ;
     /* display: flex; */
     flex-direction: column;
     justify-content:center;
     align-items: center;
     max-width: 100%;
     width: -webkit-fill-available;
     min-width: fit-content;
     height: 250px;
     border-radius: 15px;
     background: var(--stats_bgc);
     background: var(--stats_bgcg);
     color: white;
     padding: 20px;
     box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px 2px;
}


.stats p {
     font-size: .8em;
     color: #ccc;
}

.stats__buttons {
     display: flex;
     flex-direction: row;
     margin: 5px;
     height: 100%;
}

.stats__modeButton {
     transition: background-color 200ms;
     margin-left: 10px;
     margin-right: 10px;
     width: 30%;
     min-height: 90%;
     height: 90%;
     border-radius: 10px;
     border: #333 solid 2px;
     background-color: rgba(200,200,200,0.7);
     font-weight: bold;
     font-family:Helvetica,Arial, sans-serif;
     box-shadow: rgb(0 0 0 / 30%) 1px 1px 5px 0px;
}

.stats__modeButton:hover{
     background-color: rgba(200,200,200,1);
     box-shadow: rgb(0 0 0 / 30%) 1px 3px 8px 0px;
}
.stats__modeButton:active{
     background-color: rgba(200,200,200,0.2);
     box-shadow: rgb(0 0 0 / 30%) 0px 0px 0px 0px;
}

.stats__header {
     margin-top: 1px;
     margin-bottom: 10px;
}

.stats__body {
     width: -webkit-fill-available;
     border-radius: 10px;
     background-color: rgb(31, 31, 31);
     margin: 1px;
     padding: 15px;
}

.twoColumn {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     width: 90%;
     padding: 0px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}