{% extends 'base.html' %}
{% block content %}
<!-- {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"> -->

<!-- {% if user.is_authenticated %}
    <h1>Hello! {{user.username}}</h1>
{% endif %} -->

<h1>{{ request.user }}</h1>
<br/>
<br/>
<br/>
<form action="/API/score/1" method="POST"> {%csrf_token%}
    <h4>Clear Row</h4>
    <input type='text' name="mode" id="" cols="50" rows="1" placeholder="Mode" /><br/>
    <input type='text' name="pasw" id="" cols="50" rows="1" placeholder="Password" /><br/>
    <input type="submit" value="Submit"/>
</form>

{% endblock content %}